<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashesi.cs.mhealth.data"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
"
    <uses-featurejk
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ashesi.cs.mhealth.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.data.Topics"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_topics"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.OPDCaseActivity"
            android:label="@string/title_activity_opdcase" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.CommunityActivity"
            android:label="@string/title_activity_community" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.CommunityMembersRecordActivity"
            android:label="@string/title_activity_community_members_record" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.Synch"
            android:label="@string/title_activity_synch" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.CommunityMemberRecordActivity"
            android:label="@string/title_activity_community_member_record" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.AddCommunityActivity"
            android:label="@string/title_add_community" >
        </activity>
        <activity android:name="com.ashesi.cs.mhealth.HealthPromotionsActivity" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.ViewQuestionActivity"
            android:label="@string/viewPost"
            android:theme="@style/Theme.Example" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.KSettingsActivity"
            android:label="@string/knowledgeSettings"
            android:parentActivityName="com.ashesi.cs.mhealth.KnowledgeActivity"
            android:theme="@style/Theme.Example" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.WiFiDirectActivity"
            android:label="@string/device_synch"
            android:theme="@style/Theme.Example" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.KnowledgeActivity"
            android:label="@string/atknowledge"
            android:launchMode="singleTop"
            android:parentActivityName="com.ashesi.cs.mhealth.MainActivity"
            android:theme="@style/Theme.Example" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ashesi.cs.mhealth.SearchResultsActivity" />
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.SearchResultsActivity"
            android:label="@string/atknowledge"
            android:launchMode="singleTop"
            android:parentActivityName="com.ashesi.cs.mhealth.KnowledgeActivity"
            android:theme="@style/Theme.Example" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.DetailReport"
            android:label="@string/title_activity_detail_report" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.HealthPromotionList"
            android:label="@string/title_activity_health_promotion_list" >
        </activity>
        <activity
            android:name="com.ashesi.cs.mhealth.TasksActivity"
            android:label="@string/title_activity_tasks" >
        </activity>
    </application>

</manifest>
